/* a, span, em, input */
body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  color: #111;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 99;
}
.header.on .gnb {
  left: 0;
}
.header.on .btn--all span:nth-child(1) {
  top: 29px;
  transform: rotate(45deg);
}
.header.on .btn--all span:nth-child(2) {
  top: 29px;
  opacity: 0;
  transform: translateX(-50px);
}
.header.on .btn--all span:nth-child(3) {
  top: 29px;
  transform: rotate(-45deg);
}
.header .logo {
  height: 60px;
}
.header .logo a {
  display: block;
  height: 60px;
  padding: 15px 20px;
}
.header .logo a img {
  height: 30px;
}
.header .logo a .logo__img--light {
  display: none;
}
.header .btn--all {
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  position: absolute;
}
.header .btn--all span {
  width: 30px;
  height: 2px;
  background-color: #111;
  position: absolute;
  left: 15px;
  transition: all 0.25s ease;
}
.header .btn--all span:nth-child(1) {
  top: 19px;
}
.header .btn--all span:nth-child(2) {
  top: 29px;
}
.header .btn--all span:nth-child(3) {
  top: 39px;
}
.header .gnb {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  left: 100%;
  transition: all 0.25s ease;
}
.header .gnb .list > li > a {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid #ccc;
  font-weight: 700;
  text-transform: uppercase;
}
.header .gnb .list > li > a:before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: rgb(4, 63, 189);
  border-radius: 100%;
  margin: 0 10px 0 10px;
}
.header .gnb .list > li .depth02 {
  background-color: #2c6efb;
  color: #fff;
  display: none;
}
.header .gnb .list > li .depth02.on {
  display: block;
}
.header .gnb .list > li .depth02 li a {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(4, 63, 189);
}
.header .gnb .list > li .depth02 li a:before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 100%;
  margin: 0 10px 0 20px;
}
.header .language {
  position: absolute;
  right: 80px;
  top: 50%;
  text-transform: uppercase;
  font-weight: 700;
  transform: translateY(-50%);
}
.header .language .active {
  color: rgb(4, 63, 189);
}

.footer {
  background-color: #021e59;
  color: #fff;
  padding: 20px;
}
.footer__item {
  margin-top: 50px;
}
.footer__item:nth-child(1) {
  margin-top: 0;
}
.footer__item h2 {
  font-size: 20px;
}
.footer__item dl {
  display: flex;
  margin-top: 10px;
}
.footer__item dl dt {
  width: 70px;
}
.footer-logo {
  height: 40px;
}
.footer-copyright {
  margin-top: 50px;
  text-align: center;
}

.btn-top {
  display: none;
}